<div class="container">
  <div class="input">
    <input type="text" [(ngModel)]="email" placeholder="Enter email">
    <img class="sign" src="assets/good.svg" *ngIf="isValidEmail()" alt="">
    <img class="sign" src="assets/bad.svg"  *ngIf="!isValidEmail()" alt="">
  </div>

  <div class="output">Full email: {{email}}</div>
  <div class="output">Before @: {{getLeftPart()}}</div>
  <div class="output">After @: {{getRightPart()}}</div>
  <div class="output">MailTo: <a *ngIf="isValidEmail()" [href]="getHref()">
    {{email}}</a>
    <p *ngIf="!isValidEmail()"> Nothing to show </p>
  </div>

</div>

